{% extends 'base.html' %}

{% block content %}
<div style="display:flex">
  <div class="card text-dark bg-light mb-3" style="min-width: 400px; margin-left: 30px; padding:30px">
    <img src="{{ profile.avatar.url }}"/>
    <h3>Пользователь: {{ profile.first_name }} {{ profile.last_name }}</h3>
    <h3>telegram: {{ profile.telegram }}</h3>
    <h3>Всего задач: {{ profile.tasks_active }}</h3>
    <h3>Выполнено задач: {{ profile.tasks_completed }}</h3>
  </div>

<table>
  <thead>
    <tr>
    <th scope="col" style="text-align:center;">Активные задачи</th>
    <th scope="col" style="text-align:center;">Выполненные задачи</th>
    </tr>
  </thead>
  <tbody>
<td>
  <div style="display: grid; grid-template-columns: 30rem 30rem;">
  {% for task in tasks %}
  {% if task.status != 'completed' %}
      <div class="card text-dark bg-light mb-3" style="margin-left: 30px;">
          <div class="card-header"><h2 class="card-title">{{ task.name }}</h2></div>
          <div class="card-body border-light mb-3">
                <p class="card-text">{{ task.description }}</p>
          </div>
              <div class="card-footer">
                  <table class="table">
                      <thead>
                        <tr>
                            <th scope="col">Статус задачи</th>
                            <th scope="col">Автор</th>
                            <th scope="col">Исполнитель</th>
                        </tr>
                      </thead>
                      <tbody>
                            {% if task.status == 'not_started' %}
                                <td class="table-warning">Не начата
                            {% elif task.status == 'started' %}
                                <td class="table-success">Начата
                            {% elif task.status == 'completed' %}
                                <td class="table-secondary">Закрыта
                            {% elif task.status == 'reopened' %}
                                <td class="table-danger">Переоткрыта
                            {% endif %}
                        </td>
                      <td>{{ task.author }}</td>
                      <td>{{ task.executor }}</td>
                      </tbody>
                  </table>

                <p class="card-text">Дата создания задачи: {{ task.date_created|date:"f d/m/y" }}</p>
                <p class="card-text">Дата изменения задачи: {{ task.date_updated|date:"f d/m/y" }}</p>
                <a class="btn btn-primary" href="/edit{{ task.get_absolute_url }}">Редактировать</a>
          </div>
      </div>
  {% endif %}
{% endfor %}
  </div>
  </td>

<td>
  <div style="display: grid; grid-template-columns: 30rem 30rem; margin-left:100px">
  {% for task in tasks %}
    {% if task.status == 'completed' %}
      <div class="card text-dark bg-light mb-3" style="margin-left: 30px;">
          <div class="card-header"><h2 class="card-title">{{ task.name }}</h2></div>
          <div class="card-body border-light mb-3">
                <p class="card-text">{{ task.description }}</p>
          </div>
              <div class="card-footer">
                  <table class="table">
                      <thead>
                        <tr>
                            <th scope="col">Статус задачи</th>
                            <th scope="col">Автор</th>
                            <th scope="col">Исполнитель</th>
                        </tr>
                      </thead>
                      <tbody>
                            {% if task.status == 'not_started' %}
                                <td class="table-warning">Не начата
                            {% elif task.status == 'started' %}
                                <td class="table-success">Начата
                            {% elif task.status == 'completed' %}
                                <td class="table-secondary">Закрыта
                            {% elif task.status == 'reopened' %}
                                <td class="table-danger">Переоткрыта
                            {% endif %}
                        </td>
                      <td>{{ task.author }}</td>
                      <td>{{ task.executor }}</td>
                      </tbody>
                  </table>

                <p class="card-text">Дата создания задачи: {{ task.date_created|date:"f d/m/y" }}</p>
                <p class="card-text">Дата изменения задачи: {{ task.date_updated|date:"f d/m/y" }}</p>
                <a class="btn btn-primary" href="/edit{{ task.get_absolute_url }}">Редактировать</a>
          </div>
      </div>
    {% endif %}
{% endfor %}
      </div>
  </td>

  </tbody>
</table>
  </div>
{% endblock content %}